.infoBox {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 100px 50px;
  display: inline-block;
  background-color: aquamarine;
}
ul {
  list-style: none;
}
.heading {
  text-align: center;
  color: brown;
}
.highlight {
  color: grey;
  font-size: large;
  font-weight: 600;
}
